<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/statics/imgs/favicon.ico" type="image/x-icon">
    <title>案例索引</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
            box-sizing: border-box;
        }
        
        body {
            background-color: #f4f5f5;
        }
        
        .container {
            width: 900px;
            margin: 0 auto;
        }
        
        #head {
            height: 200px;
            background-color: #000d4d;
        }
        
        #head img {
            width: 300px;
            height: 200px;
        }
        
        .head {
            display: flex;
        }
        
        .head p {
            color: #fff;
            padding-top: 30px;
            padding-left: 100px;
            font-size: 30px;
        }
        
        .ctn ul,
        li {
            width: 100%;
        }
        
        .ctn ul li {
            background-color: #fff;
            margin-top: 20px;
            height: 120px;
            display: flex;
            padding-top: 20px;
            padding-left: 30px;
        }
        
        h3 {
            margin-top: 30px;
        }
        
        .ctn li img {
            width: 80px;
            height: 80px;
        }
        
        .ctn li .info {
            padding-left: 50px;
        }
    </style>
</head>

<body>
    <div id="head">
        <div class="container head">
            <img src="/statics/imgs/header.jpg" alt="">
            <p>星辰</p>
        </div>
    </div>
    <div class="container ctn">
        <h3>demo效果</h3>
        <ul>
            <li>
                <img src="/statics/imgs/nodepages.png" alt="">
                <div class="info">
                    <a href="http://www.whplover.top:8080/pages" target="_Blank">node分页效果</a>
                    <p>node+mysql+ejs实现分页功能(数据node爬虫)</p>
                    <a href="https://github.com/whpdevelop/demos/tree/master/node%E5%AE%9E%E7%8E%B0%E5%88%86%E9%A1%B5" target="_Blank">代码地址:github</a>
                </div>
            </li>
            <li>
                <img src="/statics/imgs/nodeupload.png" alt="">
                <div class="info">
                    <a href="http://www.whplover.top:8080/form" target="_Blank">node上传图片效果</a>
                    <p>form&ajax 结合node实现上传图片</p>
                    <a href="https://github.com/whpdevelop/demos/tree/master/node%E5%AE%9E%E7%8E%B0%E5%9B%BE%E7%89%87%E4%B8%8A%E4%BC%A0" target="_Blank">代码地址:github</a>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>